*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TITULO */

.titulo-container{
  margin-top: 50px;
  display: flex;
  width: 100vw;
  justify-content: center;
}

img{
  margin: 0 auto;
  width: 800px;
}

/* CARTAS */

.cards-container{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.card{
  width: 25%;
  margin: 40px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 3px 8px 20px #ccc;
}

.card h2{
  font-weight: normal;
  margin-bottom: 25px;
  color: #444;
  font-size: 29px;
}

.casos{
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: bold;
  color: #222;
}

.fecha{
  margin-bottom: 25px;
  color: #444;
  font-size: 21px;
}

.descripcion{
  font-weight: bold;
  font-size: 21px;
}

.descripcion-muertes{
  color: rgb(209, 53, 53);
}

.descripcion-recuperados{
  color: rgb(49, 153, 49);
}

.descripcion-contagios{
  color: rgb(22, 22, 190);
}


/* SELECTOR DE PAISES */

.selector-container{
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.selector{
  margin: 0 auto;
  width: 200px;
  text-align: center;
  padding: 5px 0px;
}

/* GRAFICO */

.grafico-container{
  width: 85vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
}


@media (max-width: 955px){
  .card{
    margin: 40px 20px;
  }

  img{
    width: 85vw;
  }
}

@media (max-width: 835px){
  .titulo-container{
    margin-bottom: 40px;
  }
  .cards-container{
    flex-direction: column;
  }

  .card{
    width: 60vw;
    margin: 0;
    margin-bottom: 40px;
  }
}
